
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


Debug/
Release/
x64/
x86/
*.obj
*.exe
*.pdb
*.ilk
*.log


*.tmp
*.bak
*.cache
*.sdf
*.opensdf
*.VC.db


*.idb
*.ipch
*.pch
*.res
*.ncb
*.tlog
*.lastbuildstate
*.vscode/
